# Data Science Tools and Ecosystem

## Author
Roger Baker

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List someof the commonly used libraries for data science
* Show some examples of Markdown text
* Show some simple examples of Python arithmetic

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Seaborn
3. Tensorflow

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|R Studio|
|Hadoop|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [30]:
# This a simple arithmetic expression to mutiply
(3*4)+5

17

In [32]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335